* {

    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


body{
    display: flex;
    flex-direction: column;
    background-color: #BFBFBF;
    color: #BFBFBF;
}


#root {
    background-image: url('dessertbg.jpg');
    height: 100%; 
    background-position: center;
    background-repeat:repeat;
    background-size: contain;
    
}

#welcome {
    font-size: 60px;
    text-align: center;

}


#welcome-info {
    padding-bottom: 10px;
    width: 450px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.252);
    text-align: left;
}

main {
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    width: 500px;
}

h4 {

    margin-bottom: 35px;
    font-size: 40px;
}

#projects-home {
    margin: 40px 0;
    margin-bottom: 0;
}

.projects {
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: column;
    padding: 0;
   
    
    
}

.projects > li {
    
    font-size: 20px;
    margin: 12px;
   
}


@media (max-height: 180px) {
    nav > li > a {
      color: #BFBFBF;
    }
  }