

#tech-stack-heading{
    margin-bottom: 35px;
}

#tech-stack-list {
    padding:0;
    margin:0;
}

#tech-stack-list > li {
    text-decoration: none;
    text-align: center;
    padding:0;
    margin:0;
    padding-bottom: 40px;
}