
#background {
  background-image: url('images/test4_pattern.png') ;
  background-repeat: repeat-y;
  background-size: 92.5vw;
  background-position: center;
  

}

#background2 {
  background-color: rgba(1, 10, 8, 0.75);
  /* background-color: rgba(0, 55, 47, 0.2); */
  

}