
#background {
  background-image: url('images/pattern.jpg') ;
  background-repeat: repeat-y;
  background-size: 92.5vw;
  background-position: center;
  

}

#background2 {
  background-color: rgba(0, 6, 5, 0.8);
  /* background-color: rgba(0, 55, 47, 0.2); */
  

}